name: Deploy to Staging

on:
  push:
    branches: [dev]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy to Staging Server
        run: |
          cd ~/apps/uver-setlist-staging
          git fetch origin dev
          git checkout dev
          git reset --hard origin/dev
          docker compose up -d --build
